            <article>
                <h3>Introduction</h3>
                <p>My name is Ash.L. I'm an OTU second student currently in my 2nd year studying IT and Networking.</p>
                <p>In short, I enjoy relaxing because I'm really bad at properly planning anything, so most of my life is just stress. Any chance I get to truly relax feels amazing.</p>
            <section> 
                <h3>Hobbies</h3>
                <p>Light Video Gaming, Basketball, Skateboarding, Swimming</p>
            </section>
            <section> 
                <h3>Dislikes</h3>
                <p>Morning Classes, Annoying People, Hot Weather, Pelicans</p>
            </section>
            </article>
            <video id="recording" controls width="320" height="240" poster="Shiba.png" loop preload="auto">
                <source src="Assets/Doggo.mp4" type="video/mp4">
                <source src="Assets/Doggo.ogv" type="video/ogv">
            </video>