    <div id="left-column">
        <h3>OOP Final Project</h3>
        <p>Last Year in Objected Oriented Programming, our Final Project was to take User input and randommly use 6 different encryption methods on them.</p>
    </div>
    <div id="right-column">
        <h2>Example Screenshots</h2>
        <img src="Assets/Output.PNG" alt="Output" width="250" height="300">
        <img src="Assets/Code.PNG" alt="Output" width="250" height="300">
    </div>
    <div class="clear"></div>
    <div id="footer"> 
        <footer>
            <h5>© by Ash.L</h5>
        </footer>
    </div>
    </div>
